@model WillMvc.Models.客戶資料

@{
    ViewBag.Title = "CreateClient";
}

<h2>CreateClient</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>客戶資料</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.客戶名稱, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.客戶名稱)
                @Html.ValidationMessageFor(model => model.客戶名稱)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.統一編號, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.統一編號)
                @Html.ValidationMessageFor(model => model.統一編號)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.電話, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.電話)
                @Html.ValidationMessageFor(model => model.電話)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.傳真, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.傳真)
                @Html.ValidationMessageFor(model => model.傳真)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.地址, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.地址)
                @Html.ValidationMessageFor(model => model.地址)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.是否刪除, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.是否刪除)
                @Html.ValidationMessageFor(model => model.是否刪除)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
